<!----------------------------------------------------------------------------------------------------------------------------------------------------
 ~ Copyright 2021 Evan H. Harding. All Rights Reserved.
 ---------------------------------------------------------------------------------------------------------------------------------------------------->

<!-- The First Thing On The Page Is A Header Section -->
<header aria-label="About Header" class="iv-header-background">
  <div class="iv-header-section">
    <!-- The First Item In The Header Is The Application Title And Subtitle -->
    <div class="iv-header-headline">
      <h1>Internet Visualizer</h1>
      <h2>An Angular Site With Cool Things From The Internet</h2>
    </div>
    <!-- The Second Item In The Header Is A Button Which Links To The `About` Page -->
    <div class="iv-header-about">
      <a mat-raised-button aria-label="About Button" class="font-weight-bold" routerLink="/about">About</a>
    </div>
  </div>
</header>

<main class="iv-homepage">

</main>
