######################################################################################################################################################
# An .eslintignore file specifies, for ESLint, which directories and files to ignore and leave unchecked.
######################################################################################################################################################

dist
dist-prod

*.html
