######################################################################################################################################################
# Copyright 2021 Evan H. Harding. All Rights Reserved.
#
# An .eslintignore file specifies, for ESLint, which files to ignore and not lint.
######################################################################################################################################################

coverage
e2e
node_modules
