######################################################################################################################################################
# Copyright 2021 Evan H. Harding. All Rights Reserved.
#
# An .eslintignore file specifies, for ESLint, which directories and files to ignore and not lint.
######################################################################################################################################################

node_modules
