######################################################################################################################################################
# Copyright 2021 Evan H. Harding. All Rights Reserved.
#
# A .gitignore file specifies, for the Git VCS, which files to ignore and leave untracked.
######################################################################################################################################################

*.log
.idea
build-cache
coverage-report
eslint-report.html
node_modules
package-lock.json
