###############################################################################################################################################################################
# A .gitignore file specifies, for the Git VCS, which directories and files to ignore and leave untracked.
###############################################################################################################################################################################

.angular
.DS_Store
.idea
build-cache
coverage-report
dist
dist-production
node_modules

*.log
eslint-report.html
