<main>
  <div class="m-3">
    <div class="mx-auto text-center row pf-w-70">
      <div class="col w-50">
        <div class="container">
          <!-- The Following SVG Image Is Taken From "chris i" At https://codepen.io/christinei/pen/VxpxKm -->
          <img alt="Freepik's 404 Not Found Image" src="assets/images/other-logos/not-found.svg"/>
        </div>

        <a href='https://www.freepik.com/free-vector/404-error-design-with-milk_1535244.htm' target="_blank">Designed by Freepik</a>
      </div>

      <div class="col text-start w-50">
        <h1 class="fs-1"><strong>Page Not Found (HTTP 404)</strong></h1>

        <p class="fs-4">The page you are looking for cannot be found. Sorry about that!</p>

        <div>
          <a routerLink="/{{ AppRoute.Contributors }}">
            <button mat-raised-button color="primary">GO HOME</button>
          </a>
        </div>

        <div *ngIf="possibleIntendedRoutes.length > 0" class="mt-5">
          <mat-hint>Did you mean any of these routes? They were similar to what you tried to navigate to.</mat-hint>
          <mat-card *ngFor="let possibleIntendedRoute of possibleIntendedRoutes" class="d-flex justify-content-between my-2">
            <div>
              /{{ possibleIntendedRoute }}
            </div>
            <div>
              <a routerLink="/{{ possibleIntendedRoute }}">
                <button mat-stroked-button>GO TO ROUTE</button>
              </a>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</main>
