/* Styles From https://codepen.io/christinei/pen/VxpxKm */

a {
  font-family : sans-serif;
  font-size : 0.8em;
  padding : 10px;
}

body, html {
  height : 100%;
  width : 100%;
  margin : 0;
  padding : 0;
}

.milk-404 {
  max-height : 25vh;
}

/* Internal Styles */

.pf-not-found-wrapper {
  padding : 64px;
}
