<nav class="pf-nav">
  <mat-toolbar class="justify-content-between" color="primary">
    <!-- Left Group Of Toolbar Items -->
    <div>
      <a routerLink="/contributors">
        <button mat-button>
          <mat-icon class="me-2">import_contacts</mat-icon>
          <span>Pocket Fic</span>
        </button>
      </a>

      <a routerLink="/contributors">
        <button mat-button>Contributors</button>
      </a>
    </div>

    <!-- Right Group Of Toolbar Items -->
    <div>
      <button mat-icon-button matTooltip="Select a Theme for the Application" [matMenuTriggerFor]="themeMenu">
        <mat-icon>palette</mat-icon>
      </button>
      <mat-menu #themeMenu="matMenu" xPosition="before">
        <ng-template matMenuContent>
          <button mat-menu-item *ngFor="let theme of allThemes" [disabled]="theme.bundleName === activeTheme" (click)="setApplicationTheme(theme.bundleName)">
            <!-- Display A Checkmark Next To The Active Theme -->
            <mat-icon *ngIf="theme.bundleName === activeTheme" class="me-2">check</mat-icon>
            <!-- Display An Empty Icon Which Acts Like A Spacer Next To All Of The Other Themes -->
            <mat-icon *ngIf="!(theme.bundleName === activeTheme)" class="me-2"></mat-icon>

            <mat-icon class="me-2">
              <svg viewBox="0 0 80 80">
                <defs>
                  <path id="a" d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"></path>
                  <path id="b" d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"></path>
                  <path id="c" d="M0 0h80v17.24H0V0z"></path>
                </defs>
                <use xlink:href="#a" [attr.fill]="theme.backgroundColor"></use>
                <use xlink:href="#b" [attr.fill]="theme.buttonColor"></use>
                <use xlink:href="#c" [attr.fill]="theme.headerColor"></use>
              </svg>
            </mat-icon>
            <span>{{ theme.labelName }}</span>
          </button>
        </ng-template>
      </mat-menu>

      <button mat-icon-button class="me-2" matTooltip="Help Me" [matMenuTriggerFor]="helpMenu">
        <mat-icon>help</mat-icon>
      </button>
      <mat-menu #helpMenu="matMenu" xPosition="before">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="openAboutDialog()">About the Application...</button>
        </ng-template>
      </mat-menu>

      <button *ngIf="!currentUser.jwtToken" mat-button class="me-2" (click)="openCreateAccountLoginDialog()">Create Account | Login</button>

      <button *ngIf="currentUser.jwtToken" mat-button class="me-2">{{ currentUser.userName }}</button>

      <a href="https://github.com/ehharding/Pocket-Fic" target="_blank">
        <button mat-button>
          <img alt="GitHub Logo" class="pf-github-logo me-2" src="assets/images/other-logos/github-logo.svg"/>
          <span>GitHub</span>
        </button>
      </a>
    </div>
  </mat-toolbar>
</nav>
