.pf-github-logo {
  filter : invert(100%);
  height : 26px;
  width : 26px;
}

.pf-nav {
  align-items : center;
  display : flex;
  flex-flow : row wrap;
}

.pf-route-button-active {
  background : rgba(0, 0, 0, 0.08) !important;
  color : white !important;
}
