/*****************************************************************************************************************************************************
 * Copyright 2021 Evan H. Harding. All Rights Reserved.
 ****************************************************************************************************************************************************/

.ff-contributors-header {
  overflow : hidden;
  position : relative;
}

.ff-linkedin-logo {
  height : 26px;
}
