<!----------------------------------------------------------------------------------------------------------------------------------------------------
 - Copyright 2021 Evan H. Harding. All Rights Reserved.
 ---------------------------------------------------------------------------------------------------------------------------------------------------->

<!-- The Contributors Page Header Explains The Purpose Of The Page -->
<header aria-label="Contributors Page Header" class="ff-contributors-header">
  <div class="row m-3">
    <div class="mx-auto w-70">
      <h1 aria-labelledby="Contributors Page Header" class="mat-h1 mt-2">Contributors</h1>

      <p>This page lists the current contributors to the project.</p>
    </div>
  </div>
</header>

<!-- This Section Lists All Of The Contributors In A Material Accordion -->
<div class="row m-3">
  <div class="mx-auto w-70">
    <mat-accordion class="ff-headers-align">
      <mat-expansion-panel
        *ngFor="let contributor of contributors; let index = index"
        (closed)="panelOpen = false" (opened)="panelOpen = true"
        (mouseenter)="panelHovered = true" (mouseleave)="panelHovered = false">
          <!-- Panel Header -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="mr-2">account_circle</mat-icon>
              <span
                class="ff-contributor-shift-animation"
                [@hover]="panelHovered && !panelOpen ? 'shiftedState' : 'normalState'"
                [@openClose]="panelOpen ? 'invisibleState' : 'visibleState'">
                  {{ contributor.firstName }} {{ contributor.lastName }}
              </span>
            </mat-panel-title>

            <mat-panel-description
              class="ff-contributor-shift-animation"
              [@hover]="panelHovered && !panelOpen ? 'shiftedState' : 'normalState'"
              [@openClose]="panelOpen ? 'invisibleState' : 'visibleState'">
                {{ contributor.title }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- Panel Content (Lazily-Loaded) -->
          <ng-template matExpansionPanelContent>
            <div class="w-40">
              <mat-card class="mat-elevation-z0">
                <!-- Card Header -->
                <mat-card-header>
                  <img mat-card-avatar alt="{{ contributor.firstName }} {{ contributor.lastName }}'s Avatar" aria-hidden="true" src="assets/avatars/{{ contributorNamesKebab[index] }}.jpeg"/>
                  <mat-card-title>{{ contributor.firstName }} {{ contributor.lastName }}</mat-card-title>
                  <mat-card-subtitle>{{ contributor.title }}</mat-card-subtitle>
                </mat-card-header>

                <!-- Card Image -->
                <img mat-card-image aria-hidden="true" alt="{{ contributor.firstName }} {{ contributor.lastName }}" src="assets/images/{{ contributorNamesKebab[index] }}.jpeg"/>

                <!-- Card Content -->
                <mat-card-content>{{ contributor.personalSummary }}</mat-card-content>

                <!-- Card Actions -->
                <mat-card-actions>
                  <!-- The First Contributor Card Action Button Is An Email Link -->
                  <a href="mailto:{{ contributor.email }}?subject=Subject&body=Hi%20{{ contributor.firstName }}">
                    <button mat-button [matTooltip]="contributor.email">E-MAIL</button>
                  </a>

                  <!-- The Second Contributor Card Action Button Is A Link To The Respective Contributors' GitHub (Optional) -->
                  <a *ngIf="contributor.gitHub" target="_blank" [href]="contributor.gitHub">
                    <button mat-button aria-label="{{ contributor.firstName }} {{ contributor.lastName }}'s GitHub Button">
                      <img alt="GitHub Logo" aria-hidden="true" class="ff-card-footer-logo mr-2" src="assets/icons/github-logo.svg"/>
                      <span>GITHUB</span>
                    </button>
                  </a>

                  <!-- The Third Contributor Card Action Button Is A Link To The Respective Contributors' LinkedIn (Optional) -->
                  <a *ngIf="contributor.linkedIn" target="_blank" [href]="contributor.linkedIn">
                    <button mat-button aria-label="{{ contributor.firstName }} {{ contributor.lastName }}'s LinkedIn Button">
                      <img alt="LinkedIn Logo" aria-hidden="true" class="ff-card-footer-logo mr-2" src="assets/icons/linkedin-logo.svg"/>
                      <span>LINKEDIN</span>
                    </button>
                  </a>
                </mat-card-actions>
              </mat-card>
            </div>
          </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
