/*****************************************************************************************************************************************************
 * Copyright 2021 Evan H. Harding. All Rights Reserved.
 ****************************************************************************************************************************************************/

.pf-contributors-header {
  overflow : hidden;
  position : relative;
}

.pf-contributor-shift-animation {
  transition : all 250ms ease-in-out;
}
