<header>
  <div class="m-3 row">
    <div class="mx-auto" [ngClass]="{ 'pf-w-70' : !mobileView, 'w-100' : mobileView }">
      <h1 class="fs-4 mt-2"><strong>Contributors</strong></h1>

      <p>This page lists the current contributors to the project.</p>
    </div>
  </div>
</header>

<main>
  <div class="m-3">
    <div class="mx-auto" [ngClass]="{ 'pf-w-70' : !mobileView, 'w-100' : mobileView }">
      <mat-accordion *ngIf="!contributorsFetchError" class="pf-headers-align">
        <mat-expansion-panel *ngFor="let contributor of allContributors; let index = index" [expanded]="index === 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="me-3">account_circle</mat-icon>
              <strong>{{ contributor.firstName }} {{ contributor.lastName }}</strong>
            </mat-panel-title>

            <mat-panel-description>
              {{ contributor.jobTitle }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <div class="d-flex justify-content-center">
              <mat-card class="mat-elevation-z0">
                <mat-card-header>
                  <img mat-card-avatar alt="{{ contributor.firstName }} {{ contributor.lastName }}'s Avatar" src="assets/avatars/{{ contributorNamesKebab[index] }}.jpg"/>

                  <mat-card-subtitle>
                    <a routerLink="/{{ AppRoute.Users }}/{{ contributor.id }}">
                      <button mat-stroked-button matTooltipPosition="right" [matTooltip]="contributor.pocketFicUserName">
                        <mat-icon class="me-2" color="primary">import_contacts</mat-icon>
                        <span>POCKET FIC PROFILE</span>
                      </button>
                    </a>
                  </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>{{ contributor.personalSummary }}</mat-card-content>

                <mat-card-actions>
                  <!-- The First Contributor Card Action Button Is An Email Link -->
                  <a href="mailto:{{ contributor.email }}?subject=Subject&body=Hi%20{{ contributor.firstName }}">
                    <button mat-button [matTooltip]="contributor.email">
                      <mat-icon class="me-2">email</mat-icon>
                      <span>E-MAIL</span>
                    </button>
                  </a>

                  <!-- The Second Contributor Card Action Button Is A Link To The Respective Contributors' Resume (Optional) -->
                  <a *ngIf="contributor.resume" target="_blank" [href]="contributor.resume">
                    <button mat-button>
                      <mat-icon class="me-2">contact_page</mat-icon>
                      <span>RESUM&Eacute;</span>
                    </button>
                  </a>

                  <!-- The Third Contributor Card Action Button Is A Link To The Respective Contributors' GitHub (Optional) -->
                  <a *ngIf="contributor.gitHub" target="_blank" [href]="contributor.gitHub">
                    <button mat-button>
                      <img alt="GitHub Logo" class="me-2 pf-card-footer-logo" src="assets/images/other-logos/github.svg"/>
                      <span>GITHUB</span>
                    </button>
                  </a>

                  <!-- The Fourth Contributor Card Action Button Is A Link To The Respective Contributors' LinkedIn (Optional) -->
                  <a *ngIf="contributor.linkedIn" target="_blank" [href]="contributor.linkedIn">
                    <button mat-button>
                      <img alt="LinkedIn Logo" class="me-2 pf-card-footer-logo" src="assets/images/other-logos/linkedin.svg"/>
                      <span>LINKEDIN</span>
                    </button>
                  </a>
                </mat-card-actions>
              </mat-card>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>

      <div *ngIf="contributorsFetchError" class="row">
        <div class="col">
          <h1 class="fs-4 row">
            <strong>An Error Occurred Fetching the List of Contributors. Sorry About That!</strong>
            <mat-hint class="fs-5">{{ contributorsFetchErrorInfo }}</mat-hint>
          </h1>

          <div>
            <button mat-raised-button (click)="fetchAllContributors()">
              <mat-icon class="me-2">refresh</mat-icon>
              <span>RETRY</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
