<main>
  <div class="justify-content-center d-flex flex-row w-100">
    <div class="pf-create-account-login-card-container pf-t-30 pf-w-40">
      <div class="pf-flippable-div" [ngClass]="{ 'flipped' : !loginCardShowing }">
        <mat-card>
          <h1 class="fs-4 text-center"><strong>Login</strong></h1>
          <mat-divider></mat-divider>

          <form [formGroup]="loginFormGroup">
            <div class="mt-3 row">
              <div class="col w-50">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>USERNAME</mat-label>
                  <input matInput formControlName="userName" type="text"/>

                  <mat-error><strong>USERNAME</strong> is required.</mat-error>
                </mat-form-field>
              </div>

              <div class="col w-50">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>PASSWORD</mat-label>
                  <input matInput formControlName="password" [type]="hidePasswordText ? 'password' : 'text'"/>
                  <button mat-icon-button matSuffix (click)="hidePasswordText = !hidePasswordText">
                    <mat-icon>{{ hidePasswordText ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>

                  <mat-error><strong>PASSWORD</strong> is required.</mat-error>
                </mat-form-field>
              </div>
            </div>

            <button mat-button class="mb-2" color="primary" (click)="loginCardShowing = !loginCardShowing">CREATE ACCOUNT</button>

            <button mat-raised-button class="w-100" color="primary" [disabled]="loginFormGroup.invalid" (click)="login()">LOGIN</button>
          </form>
        </mat-card>

        <mat-card class="pf-create-account-card">
          <h1 class="fs-4 text-center"><strong>Create Account</strong></h1>
          <mat-divider></mat-divider>
        </mat-card>
      </div>
    </div>
  </div>
</main>
