<!----------------------------------------------------------------------------------------------------------------------------------------------------
 ~ Copyright 2021 Evan H. Harding. All Rights Reserved.
 ~
 ~ This file serves as the template for the always-visible internet component that features the concepts described in the accompanying TypeScript
 ~ file.
 ---------------------------------------------------------------------------------------------------------------------------------------------------->
