<!----------------------------------------------------------------------------------------------------------------------------------------------------
 ~ Copyright 2021 Evan H. Harding. All Rights Reserved.
 ---------------------------------------------------------------------------------------------------------------------------------------------------->

<header aria-label="About" class="iv-header-background">
  <div class="iv-header-section">
    <div class="iv-header-headline">
      <h1 class="mat-h1">Internet Visualizer</h1>
      <h2 class="mat-h2">An Angular Site With Cool Things From The Internet</h2>
    </div>
  </div>
</header>
