<!----------------------------------------------------------------------------------------------------------------------------------------------------
 ~ Copyright 2021 Evan H. Harding. All Rights Reserved.
 ~
 ~ This file serves as the template for the always-visible internet component that features the concepts described in the accompanying TypeScript
 ~ file.
 ---------------------------------------------------------------------------------------------------------------------------------------------------->

<header aria-label="About" class="iv-header-background">
  <div class="iv-header-section">
    <div class="iv-header-headline">
      <h1>Internet Visualizer</h1>
      <h2>An Angular Site With Cool Things From The Internet</h2>
    </div>
  </div>
</header>
