<!----------------------------------------------------------------------------------------------------------------------------------------------------
 - This file serves as the core, or root, component template. It is always present and forms the main application template.
 -
 - {@link https://angular.io/guide/architecture#components Angular Component Guide}
 ---------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="pf-app">
  <pf-toolbar class="pf-toolbar mat-elevation-z5"></pf-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
