/*****************************************************************************************************************************************************
 * Copyright 2021 Evan H. Harding. All Rights Reserved.
 ****************************************************************************************************************************************************/

.iv-app {
  display : flex;
  flex-direction : column;
  position : absolute;
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
}

.iv-toolbar {
  position : relative;
  top : 0;
  left : 0;
  right : 0;
  z-index : 2;
}
