<!----------------------------------------------------------------------------------------------------------------------------------------------------
 ~ Copyright 2020 Evan H. Harding. All Rights Reserved.
 ~
 ~ app.component.html - HTML
 ~
 ~ @see https://angular.io/guide/architecture#components
 ~ @description This file serves as the core, or root, component template. It is always present and forms the main application template.
 ---------------------------------------------------------------------------------------------------------------------------------------------------->

<router-outlet></router-outlet>
