/*****************************************************************************************************************************************************
 * Copyright 2021 Evan H. Harding. All Rights Reserved.
 ****************************************************************************************************************************************************/

.pf-footer {
  align-items : center;
  display : flex;
  flex-flow : row wrap;
}
