/*****************************************************************************************************************************************************
 * Copyright 2021 Evan H. Harding. All Rights Reserved.
 ****************************************************************************************************************************************************/

a img {
  transition : all 250ms ease-in-out;
  height : 75px;
  width : 75px;
}

a img:hover {
  transform : scale(1.10);
}

.pf-copyright-text {
  font-size : 12px;
}

.pf-source-vertical-divider {
  height : 80px;
}

.pf-version-vertical-divider {
  height : 40px;
}
