<button mat-icon-button mat-dialog-close class="pf-dialog-header-close-button" tabindex="-1">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
  <h3 class="text-center"><strong>About</strong></h3>

  <mat-divider class="pf-dialog-divider-title"></mat-divider>

  <h5><strong>What Is Pocket Fic?</strong></h5>
  <p>
    Welcome to Pocket Fic! This project is about creating a modern, user-friendly, and responsive fan fiction website for the world to use. Built on the latest technologies
    and web development paradigms, I am hoping for Pocket Fic to become the fan fiction site every fan fiction consumer loves to use.
  </p>

  <!--
   - SVG logo assets taken from the following sources:
   -   Angular          - https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg
   -   Angular Material - https://material.angular.io/assets/img/angular-material-logo.svg
   -   Bootstrap        - https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg
   -   RxJS             - https://raw.githubusercontent.com/ReactiveX/rxjs/master/resources/CI-CD/logo/svg/RxJs_Logo_Basic.svg
   -   ESLint           - https://d33wubrfki0l68.cloudfront.net/204482ca413433c80cd14fe369e2181dd97a2a40/092e2/assets/img/logo.svg
   -   TypeScript       - https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg
   -   Node.js          - https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg
   -   NPM              - https://upload.wikimedia.org/wikipedia/commons/d/db/Npm-logo.svg
   -->
  <h5><strong>Built With Open Source Software</strong></h5>
  <div class="mx-auto my-5 w-100">
    <cdk-virtual-scroll-viewport class="pf-horizontal-viewport" itemSize="100" orientation="horizontal">
      <div *cdkVirtualFor="let openSourceDependency of openSourceDependencies" class="mx-4" matTooltip="{{ openSourceDependency.tooltip }}">
        <a href="{{ openSourceDependency.websiteLink }}" target="_blank">
          <img alt="{{ openSourceDependency.imgAltDescription }}" class="pf-dependency-image" src="assets/images/dependency-logos/{{ openSourceDependency.imgTitle }}.svg" role="img"/>
        </a>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <h5><strong>Version Information</strong></h5>
  <mat-card class="mat-elevation-z0">
    <mat-card-header>
      <mat-icon mat-card-avatar>import_contacts</mat-icon>
      <mat-card-title>Pocket Fic</mat-card-title>
      <mat-card-subtitle>{{ applicationVersion }} - Current Time: {{ currentTime.toTimeString() }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="mx-auto w-100">
        <cdk-virtual-scroll-viewport class="pf-horizontal-viewport" itemSize="50" orientation="horizontal">
          <div *cdkVirtualFor="let packageVersion of packageVersions" class="text-start w-100">
            <h6><strong>{{ packageVersion.name }}</strong></h6>
            <p>{{ packageVersion.version }}</p>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <button cdkFocusInitial mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
